<ol class="list-group list-group-flush">
    {{#each posts as |post|}}
    <li class="list-group-item">
        <article class="card w-85">
            <div class="card-body">
                <a href="{{post.title}}" target="_blank" class="card-title">{{post.title}}</a>
                <span class="card-text">({{post.post_text}})</span>
                <div class="card-text">
                    By {{post.user.username}} on
                    {{post.created_at}}
                    |
                    <a href="/post/{{post.id}}" class="btn btn-info btn-sm">{{post.comments.length}} comment(s)</a>
                </div>
            </div>
        </article>
    </li>
    {{/each}}
</ol>